---

- name: Bionic | adding noobslab/{themes,icons} packages
  ansible.builtin.package:
    name:
      - arc-icons
      # - arc-themes
    state: present
  when: ansible_facts['distribution_release'] == 'bionic'
